/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #ffffff;
} 

a {
  color: #0077cc;

}

.btn-primary {
  color: #ffffff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills, .nav-pills .show > .nav-link {
    color: #fdf6e3;
    background-color: #3b2f2f;
    border-color: #3b2f2f;
}

.nav-link.active {
    background-color: #3b2f2f;
    color: #fff; 
    border-color: #3b2f2f; 
}

.border-top {
    border-top: 1px solid #e5e5e5;
    background-color: #3b2f2f;
    color: #ffffff;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
    background-color: #3b2f2f;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.encounter-list, .character-list {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;
}
